<!DOCTYPE html>
<html>
  <head>
    <title>Random Items Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller.controller_name %>">
    <div class="banner">
      <%= image_tag 'logo.svg', alt: 'Random Items Logo'  %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div class="columns">
      <div class="side">
        <ul>
          <li><a href="#"></a>Home</li>
          <li><a href="#"></a>Questions</li>
          <li><a href="#"></a>News</li>
          <li><a href="#"></a>Contact</li>
        </ul>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
